# =========== (APP) ===========
APP_HOST=0.0.0.0
APP_PORT=8880
APP_MODE=development
# APP_MODE=production
# APP_URL=localhost/

# =========== (DATABASE) ===========
# [LOCAL]
DB_HOST = localhost
DB_USER = postgres
DB_PASS = password
DB_NAME = db_name
DB_PORT = 5432

# =========== (JWT SECRET) ===========
JWT_SECRET = secret

# =========== (MAILER) ===========
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SENDER_NAME=
SMTP_AUTH_EMAIL=
SMTP_AUTH_PASSWORD=

# =========== (OAUTH) ===========
CLIENT_ID=
CLIENT_SECRET=